// Body
$body-bg-red: #a00;
$body-bg-dark: #000;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;

$sYellowDark: #ff9b09;
$sYellow: #fee934;
$sRed: #aa0000;
$sBlue: #3d4969;
$sFontColor: #fff;
$sDark: #343a40;
$bgNavBar: #000;
$fontColorNavBar: rgba(255, 255, 255, 0.75);
