// Fonts
// see media queries: https://include-media.com/
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import 'mixins';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~include-media/dist/_include-media';
@import '~bootstrap-vue/src/index';
@import "~leaflet/dist/leaflet.css";

html, body {
	width: 100%;
	height: 100vh;
	font-family: $font-family-sans-serif;
	font-weight: 200;
	margin: 0;
	background-color: $body-bg-red;
	color: $sFontColor;
	overflow-x: hidden;
}
body {
}
.container {
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin: 4.15rem 0 0 0;
	padding: 0;
	background-color: $body-bg-red;
	background-image: url("/img/house.jpg");
	background-position: right 60px;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;

	.row {
		@include media("<tablet") {
			background-position-y: 55px;
		}
		.loader {
			height: auto;
			max-height: 2.0rem;
			div {
				text-align: center;
				vertical-align: middle;
				padding: 0;
				.v-spinner {
					display: inline;
					vertical-align: middle;
					margin: 0;
				}
			}
		}
		.col {
			div.paginator {
				margin-top: 1.0rem;
				margin-left: 2.2rem;
				ul.pagination {
					li.page-item {
						&.active {
							a.page-link {
								font-weight: bold;
								background-color: $blue;
							}
						}

						a.page-link {
							color: #fff;
							background-color: $body-bg-red;
						}
					}
				}
			}
			.calendar-wrapper {
				margin-top: 1.0rem;
				color: $sYellow;
				h2 {
					width: 100%;
					white-space: nowrap;
				}
				.calendar {
					background-color: transparent;
					color: $sFontColor !important;
					.vc-title {
						color: $sYellow !important;
					}
					.vc-day-content {
						&.vc-font-medium,&.vc-text-sm {
							font-size: 1.0rem;
						}
					}
				}
			}
		}
	}

	.background_right {
		position: fixed;
		clear: both;
		top: 70px;
		right: 20px;
		width: auto;
		height: auto;
		max-height: 80%;
		opacity: 0.6;
		z-index: 10;
		background-color: transparent;

		img {
			display: flex;
		}

		@include media("<tablet") {
			display: none;
		}
	}
}

.modal {
	.modal-dialog {
		border: 1px solid #fff;
		border-radius: 20px;

		.modal-content {
			background-color: #000;
			color: $sFontColor;
			border-radius: 20px;

			.modal-header {
				button.close {
					position: absolute;
					right: 10px;
					top: 5px;
					font-weight: bold;
					color: $sFontColor;
				}
			}

			.modal-body {
				.icon-list {
					display: flex;

					img {
						height: 32px;
						width: auto;
						//                    display: inline-flex;
						margin: 5px;
						border: 1px solid #aaa;
					}
				}

				iframe {
					max-width: 100%;
				}
			}

			.modal-footer {
				display: block;
				float: left;

				div {
					text-align: left;
				}

				overflow: hidden;
			}
		}
	}
}

.img-responsive {
	display: inline-block;
}

a {
	color: $sYellow;
}

a:hover {
	color: #ff0;
}

img {
	@extend .img-fluid;
}

.embed-responsive-wrapper {
	margin: 0 -10px 0 -10px;
	padding: 0;
}

pre {
	color: #fff;
}
.eventContent {
	.icnCategory {
		vertical-align: middle;
		div {
			width: 2.1rem;
			padding: 0.3rem;
			margin: auto;
			text-align: center;
			vertical-align: middle;
			i {
				font-size: 1.2rem;
				line-height: 1.2rem;
				color: $sYellow;
			}
		}
	}
	.titleWrapper {
		.dateTime {
			color: $sYellow;
			font-weight: bold;
			font-size: 1.2rem;
		}
		.theme {
//			background-color: $sYellow;
			text-transform: uppercase;
			font-weight: bold;
			color: $blue;
			//		font-size: 0.8rem;
			//		border: 1px solid greenyellow;
		}
		.title {
		}
	}
	.subtitle {
		font-weight: bold;
	}
	.description {
	}
	.links {
	}
	.carousel-wrapper {
		width: 100%;
		background-color: transparent;
		justify-content: center;

		.vue-flux {
			.flux-image {
			}
		}
	}
}

nav {
	.navbar-brand {
		img {
			width: auto;
			height: 40px;

			@include media("<=tablet") {
				max-height: 18px;
			}

		}
		img:last-child {
			margin-left: 10px;
		}
	}
	&.navbar {
		&.navbar-black {
			background-color: $bgNavBar;
			color: $fontColorNavBar;
		}
		.dropdown-menu {
			background-color: $sDark;
			li {
				a {
					color: $sFontColor;
				}
				a:hover {
					background-color: $body-bg-red;
				}
			}
		}
	}
	&.fixed-bottom {
		margin: 0;
		padding: 0;

		.nav-link {
			margin: 0.5rem 0 0.5rem 0;
			padding: 0;
			img {
				clear: none;
				width: auto;
				height: 20px;
			}
			i {
				font-size: 1.5rem;
				margin: 0;
				pading: 0;
			}
//			color: $fontColorNavBar
		}
	}
}
form {
	.invalid-feedback,
	.validation-error {
		font-weight: bold;
		color: $sYellow;
	}
}
.form-group {
	.error {
		background-color: $sYellow !important;
	}
}
$field-switch-height: 25px;

.vue-form-generator {
	.error {
		color: $sYellow;
	}
	.form-group {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 1.6rem;
		padding: 5px 10px;
		border-radius: 4px;
		transition: background-color 0.3s;
		label {
			padding: 5px 0;
			margin-right: 1rem;
		}
		&.featured label {
			font-weight: bold;
		}
		&.required label::after {
			content: "*";
			font-weight: normal;
			color: red;
			position: absolute;
			padding-left: 0.2em;
			font-size: 1em;
		}
		&.disabled label {
		}
		&.disabled .form-control {
			border-bottom: 0;
		}
	}
	.field-wrap {
		display: flex;
		flex: 0 1 300px;
		.wrapper {
			width: 100%;
		}
		.form-control {
			display: block;
			border: 0;
			width: 100%;
			outline: 0;
			padding: 5px;
			font-style: italic;
			box-shadow: none;
			border-radius: 0;
		}
	}
	.hint {
		flex: 1 1 100%;
		text-align: right;
	}
	.field-checklist .combobox {
		height: initial;
		overflow: hidden;
		.mainRow {
			cursor: pointer;
			position: relative;
			.arrow {
				right: 0;
				position: absolute;
				top: 4px;
				width: 16px;
				height: 16px;
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: -webkit-transform 0.5s;
				transition: -webkit-transform 0.5s;
				transition: transform 0.5s;
				transition: transform 0.5s, -webkit-transform 0.5s;
				background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGdJREFUOI3tzjsOwjAURNGDUqSgTxU5K2AVrJtswjUsgHSR0qdxAZZFPrS+3ZvRzBsqf9MUtBtazJk+oMe0VTriiZCFX8nbpENMgfARjsn74vKj5IFruhfc8d6zIF9S/Hyk5HS4spMVeFcOjszaOwMAAAAASUVORK5CYII=");
				background-repeat: no-repeat;
			}
			&.expanded .arrow {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
		.dropList {
			-webkit-transition: height 0.5s;
			transition: height 0.5s;
		}
	}
	.field-color input {
		width: 60px;
	}
	.field-color .helper {
		margin-left: 0.3em;
	}
	.field-switch {
		.label {
			position: relative;
			display: block;
			height: inherit;
			font-size: 0.7rem;
			text-transform: uppercase;
			border-radius: inherit;
		}
		.label {
//			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
		}
		.label:before,
		.label:after {
			position: absolute;
			top: 50%;
			margin-top: -.5em;
			line-height: 1;
			-webkit-transition: inherit;
			transition: inherit;
		}
		.label:before {
			content: attr(data-off);
			right: 11px;
		}
		.label:after {
			content: attr(data-on);
			left: 11px;
			opacity: 0;
		}
		input:checked ~ .label {
		}
		input:checked ~ .label:before {
			opacity: 0;
		}
		input:checked ~ .label:after {
			opacity: 1;
		}
		.field-wrap label {
			position: relative;
			display: block;
			vertical-align: top;
			width: 120px;
//			height: 30px;
			padding: 0;
			margin: 0 10px 10px 0;
			border-radius: 15px;
			box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
			cursor: pointer;
		}
		input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
//			background-color: white;
		}
/*
		select {
			background-color: white;
			option {
				background-color: white;
			}
		}
 */
		.handle {
			position: absolute;
			top: 1px;
			left: 1px;
			width: 28px;
			height: 28px;
			background: -webkit-linear-gradient(top, $white 40%, #f0f0f0);
			background: linear-gradient(to bottom, $white 40%, #f0f0f0);
			background-image: -webkit-linear-gradient(top, $white 40%, #f0f0f0);
			border-radius: 100%;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		}
		.handle:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -6px 0 0 -6px;
			width: 12px;
			height: 12px;
			background: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
			background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
			background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
			border-radius: 6px;
			box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
		}
		input:checked ~ .handle {
			left: 91px;
			left: calc(100% - ($field-switch-height - 1px));
			box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
		}
		.label,
		.handle {
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
}
.aplayer {
	border-top-right-radius: 2.0rem !important;
	.aplayer-body {
		.aplayer-pic {}
		.aplayer-info {
			background-color: #000 !important;
			color: #fff !important;
		}
	}
}
