/.idea
/node_modules
/public/js
/public/css
/public/images
npm-debug.log
yarn-error.log
/package-lock.json
/mix-manifest.json
/.htaccess
/src/js/inc/.keys.js
/src/js/store/server/
/src/sass/orig.scss
/src/js/inc/_env.js
